@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 20px 10%;
  font-family: 'Athiti', sans-serif;
}